.spoiler {
    background-color: #FFF;
    color: #000;
    padding: 10px;
    font-style: italic;
}

@font-face {
    font-family: CaviarDreams;
    src: url(../fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: CaviarDreamsBold;
    src: url(../fonts/CaviarDreamsBold.ttf);
}

html {
    scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #161616;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #161616;
}

*::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 10px;
    border: 3px solid #161616;
}

body {
    background-color: rgb(22, 22, 22);
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 90px;
    margin-left: 90px;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 90px;


    backdrop-filter: blur(2px);
    border-radius: 20px;
    position: sticky;
    top: 0;
    z-index: 4;
}

span {
    color: #FFF;
    font-weight: bold;
}

.separation {
    padding: 90px;
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: center;
}

.chapitre {
    font-family: CaviarDreamsBold;
    color: #FFF;
    font-size: 40px;
}

.separation_boutton {
    text-decoration: none;
    color: #FFF;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
}

/* ---- particles.js container ---- */
#particles-js {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -80;
    background-size: 20%;
    background-position: 50% 50%;
}

.lienresp {
    display: flex;
    flex-wrap: wrap;
}

.lien {
    padding: 12px 7px 12px 7px;
    font-family: CaviarDreams;
    margin-left: 40px;
    font-size: 22px;
    color: rgb(109, 109, 109);
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.5s;
}

.lien:hover {
    background-color: #FFF;
    color: #000;
    border-radius: 30px;
}

main {
    margin-top: 50px;
}

.reseau {
    margin-right: 30px;
}

.profil_reseau {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.reseau_icon {
    margin-right: 20px;
}

.profil {
    text-align: left;
    align-items: center;
    padding: 40px;
    display: flex;
}

.pp {
    border-radius: 100px;
    width: 70px;
}

.bio {
    font-family: CaviarDreams;
    color: #FFF;
    margin-left: 20px;
}

.bio_descri {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(109, 109, 109);
}

.bio_citation {
    font-family: CaviarDreamsBold;
    padding: 0px 0px 0px 40px;
    color: #FFF;
    font-weight: bold;
    font-size: 30px;
}

.bio_citation2 {
    padding: 40px 0px 0px 40px;
    width: 400px;
    color: rgb(177, 177, 177);
    font-size: 17px;
}


.box1 {
    display: flex;
    justify-content: space-between;
}

.box2 {
    margin-top: 100px;
    display: flex;
    width: auto;
    justify-content: center;
}

.card {
    width: 100%;
    height: 400px;
    transition: all 0.2s;
    position: relative;
}

.card7 {
    margin-left: 90px;
    width: 300px;
    height: 400px;
    transition: all 0.2s;
    position: relative;
}

.card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.card-inner2 {
    width: inherit;
    height: inherit;
    background-image: url(../images/banniere.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.circle {
    width: 100px;
    height: 100px;
    background: repeating-linear-gradient(48deg, #77c2ff 0%, #ff0099 100%);
    border-radius: 35% 30% 75% 30% / 49% 30% 70% 51%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
    top: -25px;
    left: -25px;
}

.circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
}


.cv_container {
    display: flex;
    padding: 30px;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(122, 122, 122, 0.749);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.cv_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cv_pp {
    border-radius: 100%;
    width: 200px;
}

.cv_titre {
    font-family: CaviarDreamsBold;
    font-size: 30px;
    color: #FFF;
}

.cv_soustitre {
    font-family: CaviarDreamsBold;
    font-size: 25px;
    color: #FFF;
}

.cv_detail_container {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 7px;
}

.cv_detail {
    font-family: CaviarDreams;
    color: #FFF;
}

/* ----------------------------------------------------- */
/* -------------------- FOOTER ------------------------- */
/* ----------------------------------------------------- */

footer {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.footer_reseau {
    justify-content: center;
    display: flex;
}

.reseau {
    font-family: CaviarDreamsBold;
    color: #FFF;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.footer_flex {
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
}

.footer_lien {
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

.footer_mention {
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}


@keyframes move-up6 {
    to {
        transform: translateY(-10px);
    }
}

@keyframes move-down1 {
    to {
        transform: translateY(10px);
    }
}

@media only screen and (max-width: 700px) {
    body {
        overflow-x: hidden;
    }

    .spoiler {
        font-size: 7px;
    }

    .profil {
        padding: 40px 0px 10px 40px;
    }

    .pp {
        width: 30px;
    }

    .lien {
        font-size: 10px;
    }

    .bio {
        font-size: 10px;
    }

    .bio_citation {
        font-size: 10px;
    }

    .card-inner {
        width: inherit;
        height: inherit;
    }

    .bio_citation2 {
        color: #FFF;
        font-size: 11px;
        padding: 10px 0px 0px 40px;
        width: 180px;
    }

    #particles-js {
        display: none;
    }



    .box1 {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 100%;
        height: 250px;
    }

    .card7 {
        display: none;
    }

    .circle {
        display: none;
    }

    .card2 {
        margin-left: 10px;
        width: 90px;
        height: 250px;
        background-position: center;
    }

    .bio_lien {
        font-size: 10px;
    }

    .reseau {
        display: none;
    }

    .footer_lien {
        font-size: 9px;
    }

    .footer_mention {
        font-size: 9px;
    }

    .chapitre {
        font-family: CaviarDreamsBold;
        color: #FFF;
        font-size: 20px;
    }
    
    .separation_boutton {
        text-decoration: none;
        font-size: 10px;
        color: #FFF;
        padding: 2px;
        border-style: solid;
        border-width: 1px;
        border-radius: 20px;
    }

    .cv_container {
        display: flex;
        padding: 10px;
        flex-direction: column;
        box-shadow: 0 0 10px rgba(122, 122, 122, 0.749);
        backdrop-filter: blur(10px);
        border-radius: 20px;
    }
    
    .cv_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .cv_pp {
        border-radius: 100%;
        width: 80px;
    }
    
    .cv_titre {
        font-size: 17px;
        color: #FFF;
    }
    
    .cv_soustitre {
        font-size: 12px;
    }
    
    .cv_detail_container {
        margin-left: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 7px;
    }
    
    .cv_detail {
        font-size: 11px;
        font-family: CaviarDreams;
        color: #FFF;
    }
}



.timeline-section {
    min-height: 100vh;
    padding: 100px 15px;
}

.timeline-items {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #2f363e;
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-left: calc(50% + 30px);
    text-align: left;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 16px;
    width: 16px;
    background-color: #ff0099;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size: 18px;
    color: #ff0099;
    margin: 6px 0 15px;
}

.timeline-content {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px;
    border-radius: 5px;
}

.timeline-content h3 {
    font-size: 20px;
    color: #ffffff;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.timeline-content p {
    color: #c8c8c8;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

/* responsive */
@media(max-width: 767px) {
    .timeline-items::before {
        left: 7px;
    }

    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }

    .timeline-dot {
        left: 0;
    }
}