@font-face {
    font-family: CaviarDreams;
    src: url(../fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: CaviarDreamsBold;
    src: url(../fonts/CaviarDreamsBold.ttf);
}

html {
    scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #161616;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #161616;
}

*::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 10px;
    border: 3px solid #161616;
}

body {
    background-color: rgb(10, 10, 10);
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 90px;
    margin-left: 90px;
}
a{
    text-decoration: none;
    color: #e277ff;
    font-weight: bold;
}
header {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    backdrop-filter: blur(2px);
    border-radius: 20px;
    position: sticky;
    top: 0;
    z-index: 4;
}

span {
    color: #FFF;
    font-weight: bold;
}

.chapitre {
    font-family: CaviarDreamsBold;
    color: #FFF;
    padding: 20px;
    text-align: left;
    font-size: 20px;
}

/* ---- particles.js container ---- */
#particles-js {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -80;
    background-size: 20%;
    background-position: 50% 50%;
}

.lienresp {
    display: flex;
    flex-wrap: wrap;
}

.lien {
    padding: 12px 7px 12px 7px;
    font-family: CaviarDreams;
    margin-left: 40px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.5s;
}

.lien:hover {
    background-color: #ffffff;
    color: #000;
    border-radius: 30px;
}
main {
    margin-top: 50px;
}

.reseau {
    text-align: center;
}

.reseau_icon {
    margin-right: 20px;
}

h1 {
    text-align: center;
    font-family: CaviarDreamsBold;
    color: #FFF;
}

.titre {
    text-align: left;
    font-size: 24px;
    padding: 20px;
    font-family: CaviarDreamsBold;
    color: #FFF;
}

.texte {
    text-align: left;
    padding: 20px;
    font-family: CaviarDreams;
    color: #FFF;
}

/* ----------------------------------------------------- */
/* -------------------- FOOTER ------------------------- */
/* ----------------------------------------------------- */

footer {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.footer_reseau {
    display: flex;
    justify-content: center;
}

.reseau {
    font-family: CaviarDreamsBold;
    color: #FFF;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.footer_flex {
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
}

.footer_lien {
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

.footer_mention {
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes move-up6 {
    to {
        transform: translateY(-10px);
    }
}

@keyframes move-down1 {
    to {
        transform: translateY(10px);
    }
}

/* ----------------------------------------------------- */
/* -------------------- FOCUS ANIM -------------------- */
/* ----------------------------------------------------- */

.focus-in-contract-bck {
    -webkit-animation: focus-in-contract-bck 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract-bck 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}


@media only screen and (max-width: 700px) {
    body {
        overflow-x: hidden;
        margin-right: 10px;
        margin-left: 10px;
    }

    .spoiler {
        font-size: 7px;
    }

    .profil {
        padding: 40px 0px 10px 40px;
    }

    .pp {
        width: 30px;
    }

    .lien {
        font-size: 10px;
    }

    .bio {
        font-size: 10px;
    }

    .bio_citation {
        font-size: 10px;
    }

    .card-inner {
        width: inherit;
        height: inherit;
    }

    .bio_citation2 {
        color: #FFF;
        font-size: 11px;
        padding: 10px 0px 0px 40px;
        width: 180px;
    }

    #particles-js {
        display: none;
    }

    .bio_lien {
        font-size: 10px;
    }

    .reseau {
        display: none;
    }

    .footer_lien {
        font-size: 9px;
    }

    .footer_mention {
        font-size: 9px;
    }
}